# Postgres credentials (used by both backend and db service)
POSTGRES_USER=simboard
POSTGRES_PASSWORD=simboard
POSTGRES_DB=simboard
POSTGRES_PORT=5432
POSTGRES_SERVER=db
PGDATA=/var/lib/postgresql/data/pgdata
